.nepDxpDemoHelpPanel.sapMPanel {
    margin: 1rem;
    background-color: var(--sapList_Background);
    border: 1px solid var(--sapList_BorderColor);
}
.nepDxpDemoHelpPanel.sapMPanelBGSolid {
    background-color: var(--sapList_Background);
}
.nepDxpDemoHelpPanel .sapMTitle {
    color: var(--sapList_GroupHeaderTextColor);
}
.nepDxpDemoHelpPanel .sapMText {
    color: var(--sapList_TextColor);
}
