.nepDxpDemoHelpPanel.sapMPanel {
    margin: 1rem;
    background-color: var(--sapList_Background);
    border: 1px solid var(--sapList_BorderColor);
}
.nepDxpDemoHelpPanel.sapMPanelBGSolid {
    background-color: var(--sapList_Background);
}
.nepDxpDemoHelpPanel .sapMTitle {
    color: var(--sapHighlightColor);
}
.nepDxpDemoHelpPanel .sapMText {
    margin-block-start: 0;
    color: var(--sapTextColor);
}
.nepLayout .nepDxpDemoHelpPanel .sapMLnk:not(.sapMLnkDsbl):focus {
    border-radius: 0;
    background-color: transparent;
    color: var(--sapLinkColor);
}
