:root .nepDxpDemoNews {
    --gridHeight: 0;
}
:root .nepDxpDemoSectionPlain {
    --gridMargin: 0;
}
.dxp-demo-analytical-content .nepGrid.nepGridMedium,
.dxp-demo-analytical-content .nepGroupMedium .nepGrid {
    grid-template-columns: repeat(8, var(--grid8));
}
.nepThemeDark .nepDxpDemoCustomStyle .nepFCard.sapFCard .sapFCardSubtitle {
    color: lightgreen;
}
.nepDxpDemoSectionMarginTop {
    margin-top: 1rem;
}
.nepDxpDemoSectionTeamsSkinnyTiny .nepTileTiny .nepTileImage {
    width: auto;
    height: 3.5rem;
    /* padding-bottom: .5rem; */
}
.nepXSmall .nepDxpDemoSectionTeamsSkinnyTiny .nepTileTiny .nepTileImage,
.nepSmall .nepDxpDemoSectionTeamsSkinnyTiny .nepTileTiny .nepTileImage {
    width: auto;
    height: 2.5rem;
}
.nepDxpDemoSectionSmallCentered .nepGroupHeader {
    border-radius: 1rem;
}
.nepXSmall .nepDxpDemoSectionSmallCentered .nepGroupHeader,
.nepSmall .nepDxpDemoSectionSmallCentered .nepGroupHeader {
    border-radius: 0;
}
.nepLayout .nepGrid .nepDxpDemoNewsMaster.nepFCardContainer {
    min-height: 240px;
}
.nepDxpDemoNewsMaster .sapFCard {
    flex-direction: column-reverse;
}
.nepDxpDemoNewsMaster .sapFCard .sapFCardHeader {
    margin-bottom: 1rem;
}
.nepDxpDemoSectionTeamsNarrowShort .nepTileShort .nepTileImage,
.nepDxpDemoSectionTeamsSmallSmall .nepTileImage {
    width: auto;
    height: 3rem;
}
.nepDxpDemoSectionBackgroundImage .nepFCardContainer {
    height: 220px;
}
.nepDxpDemoTileBackgroundImage.nepFCardContainer {
    height: 180px;
}
.nepGroupHeaderMessage {
    display: none;
}
.nepDxpDemoHelp .nepGroupHeaderMessage {
    display: flex;
}